[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
# .pyファイルからrst作成。
doc_gen = "sphinx-apidoc -e -f -o ./docs ./python_batch"
doc_clean = "bash -c 'cd docs && make clean'"
doc_build = "bash -c 'cd docs && make html'"

[packages]
fire = "*"

[dev-packages]
sphinx = "*"
sphinx_rtd_theme = "*"

[requires]
python_version = "3.9"
